@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Poppins:wght@300;400;600;700&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
  }

  body {
    background-color: #1b1f27;
    color: white;
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
  
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: .3s;
    background-color: rgb(33, 29, 46);
}


.logo-header{
    border-radius: 60px;
    width: 60%;
}

header.scrolled {
    background-color: var(--bg-color-transparent);
    box-shadow: 0 20px 20px 30px rgba(0, 0, 0, 0.1) ;
    backdrop-filter: blur(100px);
}

header.scrolled .logo{
    height: 80px;
    line-height: 80px;
}

#title {
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

.nav-a{
    color: white;
}

a:hover{
   color: rgb(132, 14, 201);
}

#inscreva-se-btn{
    border: 2px solid rgb(132, 14, 201);
    padding: 10px;
    border-radius: 15px;
}
#inscreva-se-btn:hover{
    background-color: rgb(132, 14, 201);
    color: white;
}
